<!--//////////////////////////////////////////////////////////////-->
{% extends "base_generic.html" %}
{% block title %}
<title>{{ author.first_name }}</title>
{% endblock %}
{% block content %}
<main class="content">
  <div class="container-fluid p-0">
    <h1 class="h3 mb-3">Author detail page</h1>
    <div class="row">
      <div class="col-6 col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0"><span class="name_title"></span></h2>
          </div>
          <div class="card-body">
            <div id="introduction">
              <p class="lead"></p>
            </div>
            <p><strong>Name:</strong><span class="name"></span></p>
            <!-- author detail link not yet defined -->
            <p><strong>Surname:</strong><span class="surname"></span></p>
            <p><strong>Birthdate:</strong><span class="birth"></span></p>
            <p><strong>Death:</strong><span class="death"></span></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-header">
            <h3>Books</h3>
          </div>
          <div class="card-body">
            <div id="datatables-basic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-sm-12">
                  <table id="datatables-basic" class="table table-striped dataTable no-footer dtr-inline"
                    style="width: 100%;">
                    <thead>
                      <tr role="row">
                        <th rowspan="1" colspan="1">Book</th>
                        <th rowspan="1" colspan="1">Author</th>
                        <th rowspan="1" colspan="1">Summary</th>
                        <th rowspan="1" colspan="1">ISBN</th>
                        <th rowspan="1" colspan="1">Genre</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% load static %}
<script src="{% static 'js/app.js'%}"></script>
<script type="text/javascript", language="javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script>
  $(function () {
    //Ajax detailed view
    let book;
    let author_id = "{{ author.id }}";
    const title = $("span.name_title");
    const author_name = $("span.name");
    const surname = $("span.surname");
    const birth = $("span.birth");
    const death = $("span.death");
    $.ajax({
      url:'/api/authors/?id='+ author_id,
        dataSrc:function(json){
          console.log("json= ", json);
          return json['data'];
        }
    })
    .done(function( data, textStatus, jqXHR ) {
      if ( console && console.log ) {
          author = data[0];
          title.text(" "+author.first_name);
          author_name.text(" "+author.first_name);
          surname.text(" "+author.last_name);
          birth.text(" "+author.date_of_birth);
          death.text(" "+author.date_of_death);
          //console.log( (author) );
      }
    })
    // Datatables basic
    let author = "{{ author.id }}";
    //let author = "Dario I";
    // Datatables basic
    var datatablesBasic = $("#datatables-basic").DataTable({
      responsive: true,
      processing:true,
      serverSide: true,
      buttons:[
        {
          //Update the table
          text: '<i class="fas fa-sync-alt"></i>Update</button>',
          action: function(e,dt, node, config){
            dt.clear().draw();
            dt.ajax.reload();
            dt.order([0, 'asc']);
            dt.draw()
          }
        },
        {
          //Export to CSV
          extend: 'csvHtml5',
          text: '<i class="fas fa-download buttons-csv"></i>Export CSV</button>',
          filename: function(){
            return 'Book list';
          },
          action: newexportaction
        },
        {
          //Export to XLS
          extend: 'excelHtml5',
          text: '<i class="fas fa-download buttons-excel"></i>Export XLS</button>',
          filename: function(){
            return 'Book list';
          },
          action: newexportaction
        },
      ],
      columnDefs: [
      {
        targets:0,
        render: function(data, type, row){
          let url = "/catalog/book/"+ row.id;
          return '<a href="'+url+'">' + data + '</a>';
        }
      },
      {
        targets:1,
        render: function(data, type, row){
          let url = "/catalog/author/"+ row.author_id;
          return '<a href="'+url+'">' + data + '</a>';
        }
      },
      {
        targets:3,
        render: function(data, type, row){
          var color='';
          if(data >= 1000000000000 && data <= 5000000000000){
            color = 'badge badge-warning';
          }
          else if(data > 5000000000000){
            color = 'badge badge-danger';
          }
          return '<span class="' + color + '">' + data + '</span>';
        }
      },
      {
        targets:4,
        render: function(data, type, row){
          let emoji = new Map();
          emoji.set('Fantasy', 'fas fa-fw fa-crown" style="color:#FFBF00;');
          emoji.set('Science Fiction', 'fas fa-fw fa-robot" style="color:#999999;');
          var message = '<i class="mr-2 ' + emoji.get(data.toString()) + '"></i> ';
          message += data;
          return message;
        }
      }],
      ajax:{
        url:'/api/books/?author__id='+author,
        dataSrc:function(json){
          console.log("json= ", json);
          return json['data'];
        }
      },
      "columns": [
        {"data":"title"},
        {"data":"author_name"},
        {"data":"summary"},
        {"data":"isbn"},
        {"data":"genre_name"},
      ],
      initComplete: function(){
        datatablesBasic.buttons().container().appendTo("#datatables-basic_wrapper .col-md-6:eq(0)");
      }
    });
  });
  function newexportaction(e, dt, button, config) {
    var self = this;
    var oldStart = dt.settings()[0]._iDisplayStart;
    dt.one('preXhr', function (e, s, data) {
        // Just this once, load all data from the server...
        data.start = 0;
        data.length = 2147483647;
        dt.one('preDraw', function (e, settings) {
            // Call the original action function
            if (button[0].className.indexOf('buttons-excel') >= 0) {
                $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                    $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                    $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
            } else if (button[0].className.indexOf('buttons-csv') >= 0) {
                $.fn.dataTable.ext.buttons.csvHtml5.available(dt, config) ?
                    $.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config) :
                    $.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
            }
            dt.one('preXhr', function (e, s, data) {
                // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                // Set the property to what it was before exporting.
                settings._iDisplayStart = oldStart;
                data.start = oldStart;
            });
            // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
            setTimeout(dt.ajax.reload, 0);
            // Prevent rendering of the full data to the DOM
            return false;
        });
    });
    // Requery the server with the new one-time export settings
    dt.ajax.reload();
};
</script>
{% endblock %}

<!--////////////////////////////////////////////////////////////////////////////-->