<!--//////////////////////////////////////////////////////////////-->
{% extends "base_generic.html" %}
{% block title %}
<title>{{ book.title }}</title>
{% endblock %}
{% block content %}
<main class="content">
  <div class="container-fluid p-0">
    <h1 class="h3 mb-3">Book detail page</h1>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">Title: <span class = "title"><span></h2>
          </div>
          <div class="card-body">
            <div id="introduction">
              <p class="lead"></p>
            </div>
            <p><strong>Author:</strong><span class="author"></span></p>
            <!-- author detail link not yet defined -->
            <p><strong>Summary:</strong><span class="summary"></span></p>
            <p><strong>ISBN:</strong><span class="isbn"></span></p>
            <p><strong>Language:</strong><span class="language"></span></p>
            <p><strong>Genre:</strong><span class="genre"></span></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">Copies</h2>
          </div>
          <div class="card-body">
            <div id="datatables-basic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-sm-12">
                  <table id="datatables-basic" class="table table-striped dataTable no-footer dtr-inline"
                    style="width: 100%;">
                    <thead>
                      <tr role="row">
                        <th rowspan="1" colspan="1">Status</th>
                        <th rowspan="1" colspan="1">Return date</th>
                        <th rowspan="1" colspan="1">Imprint</th>
                        <th rowspan="1" colspan="1">Id</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% load static %}
<script src="{% static 'js/app.js'%}"></script>
<script type="text/javascript", language="javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script>
  let book;
  $(function () {
    //Ajax detailed view
    const title = $("span.title");
    const author = $("span.author");
    const summary = $("span.summary");
    const isbn = $("span.isbn");
    const genre = $("span.genre");
    $.ajax({
      url:'/api/books/?id={{book.id}}',
        dataSrc:function(json){
          console.log("json= ", json);
          return json['data'];
        }
    })
    .done(function( data, textStatus, jqXHR ) {
      if ( console && console.log ) {
          book = data[0];
          title.text(" "+book.title);
          author.html('<a href="/catalog/author/'+book.author_id+'"> '+ book.author_name+'</a>');
          summary.text(" "+book.summary);
          isbn.text(" "+book.isbn);
          genre.text(" "+book.genre_name);
          //console.log( (book) );
      }
    })
 
    // Datatables basic
    var datatablesBasic = $("#datatables-basic").DataTable({
      responsive: true,
      processing:true,
      serverSide:true,
      buttons:[
        {
          //Update the table
          text: '<i class="fas fa-sync-alt"></i>Update</button>',
          action: function(e,dt, node, config){
            dt.clear().draw();
            dt.ajax.reload();
            dt.order([0, 'asc']);
            dt.draw()
          }
        },
        {
          //Export to CSV
          extend: 'csvHtml5',
          text: '<i class="fas fa-download buttons-csv"></i>Export CSV</button>',
          filename: function(){
            return 'Book list';
          },
          action: newexportaction
        },
        {
          //Export to XLS
          extend: 'excelHtml5',
          text: '<i class="fas fa-download buttons-excel"></i>Export XLS</button>',
          filename: function(){
            return 'Book list';
          },
          action: newexportaction
        },
      ],
      columnDefs: [
      {
        targets:0,
        render: function(data, type, row){
          if(data == "o"){
            return '<span class="text-warning">On Loan</span>';
          }
          else if( data == "a"){
            return '<span class="text-success">Available</span>';
          }
          else if( data == "m"){
            return '<span class="text-danger">Maintenance</span>';
          }
          else if( data == "r"){
            return '<span class="text-success">Reserved</span>';
          }
        }
      },
      ],
      ajax:{
        url:'/api/booksInstances/?book={{book.pk}}',
        dataSrc:function(json){
          console.log("json= ", json);
          return json['data'];
        }
      },
      "columns": [
        {"data":"status"},
        {"data":"due_back"},
        {"data":"imprint"},
        {"data":"id"},
      ],
      initComplete: function(){
        datatablesBasic.buttons().container().appendTo("#datatables-basic_wrapper .col-md-6:eq(0)");
      }
    });
  });
  function newexportaction(e, dt, button, config) {
    var self = this;
    var oldStart = dt.settings()[0]._iDisplayStart;
    dt.one('preXhr', function (e, s, data) {
        // Just this once, load all data from the server...
        data.start = 0;
        data.length = 2147483647;
        dt.one('preDraw', function (e, settings) {
            // Call the original action function
            if (button[0].className.indexOf('buttons-excel') >= 0) {
                $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                    $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                    $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
            } else if (button[0].className.indexOf('buttons-csv') >= 0) {
                $.fn.dataTable.ext.buttons.csvHtml5.available(dt, config) ?
                    $.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config) :
                    $.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
            }
            dt.one('preXhr', function (e, s, data) {
                // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                // Set the property to what it was before exporting.
                settings._iDisplayStart = oldStart;
                data.start = oldStart;
            });
            // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
            setTimeout(dt.ajax.reload, 0);
            // Prevent rendering of the full data to the DOM
            return false;
        });
    });
    // Requery the server with the new one-time export settings
    dt.ajax.reload();
};
</script>
{% endblock %}
<!--/////////////////////////////////////////////////////////-->