{% extends "base_generic.html" %}

{% block content %}
<main>
  <div class="container-fluid p-0">
    <h1 class="h3 mb-3">Renew Form</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">
              Renew: {{ book_instance.book.title }}</h5>
          </div>
          <div class="card-body">
            <div id="introduction">
              <p class="lead"></p>
            </div>
            <p>Borrower: {{ book_instance.borrower }}</p>
            <p{% if book_instance.is_overdue %} class="text-danger" {% endif %}>Due date: {{ book_instance.due_back }}
              </p>
              <form action="" method="post">
                {% csrf_token %}
                <table>
                  {{ form.as_table }}
                </table>
                <input type="submit" value="Submit">
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}